---
layout: default
---

<div class="home">
  <div class="posts">
    {% for post in paginator.posts %}
      <div class="post py3">
        <p class="post-meta">{{ post.date | date: site.date_format }}</p>
        <a href="{{ post.url }}" class="post-link"><h3 class="h1 post-title">{{ post.title }}</h3></a>
        <span class="post-summary">
          {{ post.excerpt | remove: '<p>' | remove: '</p>' }}
        </span>
      </div>
    {% endfor %}
  </div>
  {% include "pagination.html" %}
</div>
