/* Base */

body {
  xfont-weight: 200;
}

/* Modules */

.font-logo {
  font-family: 'Source Sans Pro', sans-serif;
}

/* Clean Blog */

.navbar-custom {
  position: static;
  background: #283048; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #283048 , #859398); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #283048 , #859398); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.navbar-custom .navbar-brand {
  padding: 15px;
  color: #fff;
}

.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus {
  color: rgba(255, 255, 255, 0.8); /* for sm screen */
}
